<!DOCTYPE html>
<html>
    <head>
        <link href=/static/style.css rel="stylesheet">
        <title>Disp.MDP</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script>    
        var socket = io();
        socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
        });
        function Getting(){
            let libelle = document.getElementById("libelle").value;
            let Mot = document.getElementById("MotDP").value;
            socket.emit("Getting_a_password",{"libelle" : libelle, "MDP" : Mot});
        }
        socket.on("Get",data=>{
            document.getElementById("MDP").innerHTML=data["MDP"];
        });

        socket.on("error", data =>{
            alert("Erreur : "+data["erreur"]);

        });

        </script>
    </head>
    <body>
    <center>
        <h1>Choisissez le mot de passe</h1>
        <form>
        <h3 id="MDP"></h3>
        <input type="text" name="libelle" id="libelle" placeholder="Entrez un libellé">
        <input type="password" name="MotDP" id="MotDP" placeholder="Entrez votre mot de passe">
        <input type="button" value="Chercher" onclick="Getting()">
        </form>
        <div><a href="/">Retour</a></div>
    </center>
            

    </body>
</html>