<!DOCTYPE html>
<html>
    <head>
        <link href=/static/style.css rel="stylesheet">
        <title>Gest.MDP</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script>    
        var Mot_de_passe = "";
        var socket = io();
        socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
        });
        function Generate(){
            socket.emit('Get_a_password');
        }
        socket.on('Get_a_password',data =>{
            Mot_de_passe = data["mdp"];
            document.getElementById("MDP").innerHTML = Mot_de_passe;
        });

        function Saving(){
            let libelle = document.getElementById("libelle").value;
            if (Mot_de_passe !=""){
                socket.emit("Saving_a_password",{libelle : libelle, MDP : Mot_de_passe});
            }
            else{alert("Il n'y a pas de mot de passe")}
        }
        socket.on("Saved",function(){
            alert("Saved");
            location.reload();
        });

        socket.on("error", data =>{
            alert("Erreur : "+data["erreur"]);

        });

        </script>
    </head>
    <body>
    <center>
        <h1>Générez un mot de passe</h1>
        <form>
        <h3 id="MDP"></h3>
        <input type="button" value="Générez un mot de passe" onclick="Generate()">
        {% if current_user.is_authenticated %}
            <input type="text" name="libelle" id="libelle" placeholder="Entrez un libellé">
            <input type="button" value="Enregistrement" onclick="Saving()">
        {% endif %}
        </form>
        <div><a href="/">Retour</a></div>
    </center>
            

    </body>
</html>