<!DOCTYPE html>
<html>
    <head>
        <link href=/static/connexion.css rel="stylesheet">
        <title>Connexion</title>
    </head>
    <body>
        <center><h1>Connexion</h1>
        <form method="post">
            <input type="text" name="user_id" id="user_id" placeholder="Nom d'utilisateur"><br>
            <input type="password" name="user_password" id="user_password" placeholder="Mot de passe"><br>
            <input type="submit" value="Connexion">
        </form>
    <div>
    <a href="/register">Inscription</a>
    <a href="/">Retour</a>
    </div>
    </center>
    </body>
</html>