<!DOCTYPE html>
<html>
    <head>
        <link href=/static/connexion.css rel="stylesheet">
        <title>Inscription</title>
    </head>
    <body>
        <center><h1>Inscription</h1>
        <form method="POST">
            <input type="text" name="user_id" id="user_id" placeholder="Nom d'utilisateur"><br>
            <input type="password" name="user_password" id="user_password" placeholder="Mot de passe"><br>
            <input type="submit" value="Inscription">
        </form>
        <div><a href="/login">Retour</a></div>
        </center>
    </body>
</html>